* {
  padding: 2;
  margin: 2;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
@media (max-width: 2999px) {
  .logo-navb {
    width: 50%;
    height: 50%;
  }
  .navbar_blue,
  footer {
    background-color: #001453;
  }
  .menu-navbar {
    padding-left: 0%;
  }
  .listanav {
    width: 100%;
    padding-left: 50%;
    text-align: left;
    background-color: #fde02a;
  }
  .nav-item {
    padding-right: 30%;
    padding-top: 2%;
  }

  .img-footer {
    width: 2%;
    height: 2%;
    border-radius: 50%;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
@media (max-width: 1600px) {
  .listanav {
    width: 100%;
    padding-left: 25%;
    text-align: left;
    background-color: #fde02a;
  }
}
@media (max-width: 1335px) {
  .listanav {
    width: 100%;
    padding-left: 20%;
    text-align: left;
    background-color: #fde02a;
  }
}

@media (max-width: 999px) {
  .button-navbar {
    float: left;
    padding-left: 80%;
  }
  
  .listanav {
    display: block;
    width: 60%;
    float: left;
    padding-left: 7%;
    padding-right: 20%;
    text-align: right;
    background-color: #fde02a;
  }
  .menu-navbar {
    padding-left: 20%;
  }
  .logo-navb {
    width: 180%;
    height: 180%;
  }
}
@media (max-width: 220px) {
  .button-navbar {
    float: left;
    padding-left: 40%;
  }
  .listanav {
    display: block;
    width: 60%;
    float: left;
    padding-left: 7%;
    padding-right: 20%;
    text-align: right;
    background-color: #fde02a;
  }
  .menu-navbar {
    padding-left: 20%;
  }
  .logo-navb {
    width: 180%;
    height: 180%;
  }
}
